@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ! ~ By LC</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>Download .NET <a href=" https://dotnet.microsoft.com/download" target="_blank">Download .NET (Linux, macOS, and Windows)</a>.</p>
    <p>Hello, world! ~ LC The time on the server is @DateTime.Now</p>
    <button type="button" class="btn btn-primary" onclick="helloWorldJs()">点我</button>
</div>